/* .card-body {
    display: flex;
    justify-content: space-between; 
  }
  
  @media (min-width: 768px) {
    .flex-md-row {
      flex-direction: row !important; 
    }
  } */

  .food-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .food-card-header {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .food-card-body p {
    margin-bottom: 5px;
  }